.Header{
    width: 100%;
    height: 11%;
    padding-top: 20px;
    display: flex;
    padding-left: 30px;
}
.Header img{
    width: 10%;
    height: 35px;
    
}
.Header h1 {
    width: 90% ;
    font-size:20px;
    text-align: center;
    letter-spacing: 2px;
    color: antiquewhite;
    padding-top: 5px;
}