.App {
  margin:0 auto;
  max-width: 414px;
  width: 100%;
  background-color: blue;
  background-image:
    linear-gradient(
      rgb(72, 189, 243), rgb(184, 220, 236)
    );
  border:none;
  border-radius: 10px;
}

